* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .t-container {
    padding: 2rem;
    min-height: 85vh;
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-image: url(../../../media/thailand/thailandbg.jpg);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .t-container .content {
    width: 50%;
    animation: slideup 1.2s ease;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1.5rem;
    box-shadow: 0 8px 39px 17px rgba(0, 0, 0, 0.8);
    text-align: left;
  }
  .t-container .content h2,
  .t-container .content h3 {
    color: #fff;
    text-shadow: 2px 2px rgb(199 200 205 / 37%);
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }
  .t-container .content h3 {
    font-size: 2rem;
  }
  .t-container .content p {
    color: #fff;
    font-family: "Urbanist", sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
    text-shadow: 1px 1px rgb(199 200 205 / 37%);
    margin: 1rem 0;
    font-size: 0.9rem;
  }
  
  .chk-btn {
    margin: 1rem 0;
    background-color: #92e3a9;
    font-family: "Urbanist", sans-serif;
    -webkit-appearance: none;
    font-size: 1.1rem;
    border: none;
    font-weight: 400;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 1rem;
    -moz-appearance: none;
  }
  .chk-btn:hover {
    background-color: #37474f;
    font-weight: 300;
    color: #fff;
    transition: 0.2s ease;
  }
  #line {
    width: 90%;
    margin: auto;
    border: 1px solid hsl(225, 10%, 45%);
  }
  #map {
    width: 100%;
  }
  .t-container2 {
    min-height: 100vh;
    height: auto;
  }
  .t-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .t-info h2 {
    text-align: left;
    margin: 2rem 0;
    padding: 1rem;
    font-size: 3rem;
    font-weight: 300;
    word-spacing: 5px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
  }
  .box {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 1.5rem;
  
    box-shadow: 0 0.2rem 0.6rem 0.3rem rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  .t-info .t-row {
    padding: 2rem;
    margin: 3rem 0;
    gap: 15%;
    display: flex;
  }
  .infobox {
    width: 50%;
    height: auto;
  }
  .infobox .box .title h2 {
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
  }
  .infobox .box .title p {
    color: #0f0f0f;
    font-family: "Urbanist", sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    text-shadow: 1px 1px rgb(199 200 205 / 37%);
    margin: 1rem 0;
    font-size: 0.9rem;
  }
  .images {
    display: flex;
    gap: 5%;
    width: 40%;
  }
  .img1,
  .img2 {
    width: 50%;
  }
  .img1 {
    padding: 1rem;
  }
  #port1,
  #port2 {
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.7);
    width: 100%;
  }
  @keyframes slideup {
    0% {
      transform: translateY(2rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .heading {
    padding: 1rem;
    text-align: left;
  }
  
  .more {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  
  .container3 {
    min-height: 100vh;
    height: auto;
  }
  .packages {
    min-height: 80vh;
    height: auto;
  }
  .packages h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: 300;
    word-spacing: 5px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
  }
  .outerbox {
    height: auto;
    margin-top: 4rem;
  }
  .t-row1,
  .t-row2 {
    display: flex;
    gap: 5%;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
  }
  
  .cont {
    width: 90%;
    height: auto;
  }
  .cont p {
    color: #0f0f0f;
    font-family: "Urbanist", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 1rem 0;
    font-size: 1.1rem;
  }
  .container4 {
    min-height: 60vh;
    height: auto;
  }
  .services h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: 300;
    word-spacing: 5px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
  }
  .servcard {
    padding: 2rem;
    width: 30%;
    color: hsl(229, 23%, 23%);
    font-family: "Urbanist", sans-serif;
  }
  .servcard .img {
    font-size: 2rem;
    color: #92e3a9;
    text-align: center;
  }
  .servcard .serv-name {
    width: 100%;
    font-weight: 800;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .servcard .txt p {
    text-align: center;
  }
  
  .container5 {
    min-height: 90vh;
    height: auto;
  }
  
  .t-contact h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 300;
    word-spacing: 5px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
  }
  .t-contact .box {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 30%;
    padding: 1rem;
  }
  .t-contact .box h2 {
    text-align: left;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 300;
    word-spacing: 5px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
  }
  .t-contact .box p {
    color: #0f0f0f;
    font-family: "Urbanist", sans-serif;
    letter-spacing: 1px;
    margin: 1rem 0;
    font-size: 1rem;
  }
  .book-btn {
    margin: 1rem 0;
    background-color: #92e3a9;
    font-family: "Urbanist", sans-serif;
    -webkit-appearance: none;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 1rem;
    -moz-appearance: none;
  }
  .book-btn:hover {
    background-color: #37474f;
    color: #fff;
    transition: 0.2s ease;
  }
  .t-rowlast {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  .contimg {
    width: 40%;
  }
  .t-rowlast form {
    font-family: "Urbanist", sans-serif;
    width: 30%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 2rem;
  }
  .t-rowlast form .inputbox {
    margin: 1rem 0;
  }
  .t-rowlast form .inputbox input {
    padding: 0.5rem;
    font-family: "Urbanist", sans-serif;
    letter-spacing: 1px;
    width: 100%;
  }
  .t-rowlast form .inputbox h3 {
    margin: 0.5rem 0;
  }
  .t-rowlast form .inputbox textarea {
    width: 100%;
    font-family: "Urbanist", sans-serif;
    word-spacing: 2px;
    padding: 1rem 2rem 2rem 0.5rem;
    resize: none;
    letter-spacing: 1px;
  }
  textarea::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
  }
  
  textarea::-webkit-scrollbar-thumb {
    background-color: hsl(227, 10%, 45%);
    border-radius: 20px;
  }
  #contimg {
    width: 100%;
  }
  .subbtn {
    margin: 0.5rem 0;
    background-color: #92e3a9;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    -webkit-appearance: none;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 1rem;
    -moz-appearance: none;
  }
  .subbtn:hover {
    background-color: #37474f;
    color: #fff;
    transition: 0.3s ease;
  }
  
  .come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 0.6s;
  }
  .already-visible {
    transform: translateY(0);
    animation: none;
  }
  
  @keyframes come-in {
    to {
      transform: translateY(0);
    }
  }
  
  @media all and (max-width: 880px) {
    .checkbtn {
      display: block;
    }
    .checkbtn {
      padding-right: 20px;
    }
    #homeli {
      background-color: rgba(0, 0, 0, 0);
    }
    #drop {
      display: none;
      opacity: 0;
    }
    ul {
      margin-top: 20px;
      position: absolute;
      height: 85vh;
      z-index: 120;
      background: #1b1b1b;
      top: 12%;
      left: -50%;
      text-align: center;
      transition: all 0.5s;
    }
    .list {
      display: block;
      width: 20%;
    }
  
    .list li {
      width: 100%;
  
      height: 2rem;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 10px;
      color: #fff;
      margin-top: 20px;
    }
    .list li a:hover {
      background-color: rgba(0, 0, 0, 0);
      transition: 0.2s ease;
      color: #92e3a9;
    }
    .list li a {
      font-size: 1rem;
    }
    nav ul li {
      display: block;
    }
  
    #check:checked ~ ul {
      left: 0;
      transition: all 0.5s ease-in;
    }
    #check:checked ~ .checkbtn i::before {
      content: "\f00d";
    }
  }
  