.contact {
  margin: 2rem 0;
}
.contact h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 300;
  word-spacing: 5px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.rowlast {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.contimg {
  width: 40%;
}
.rowlast .box {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 30%;
  padding: 1rem;
}
.rowlast .box h2 {
  text-align: left;
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 300;
  word-spacing: 5px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.container5{
    min-height: 100vh;
    height: auto;
}
.rowlast .box p {
  color: #0f0f0f;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
  margin: 1rem 0;
  font-size: 1rem;
}
.cont-btn {
  margin: 0.5rem 0;
  background-color: #92e3a9;
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 1rem;
  -moz-appearance: none;
}
.cont-btn:hover {
  background-color: #37474f;
  color: #fff;
  transition: 0.3s ease;
}
#contimg {
  width: 100%;
}
@media only screen and (max-width: 600px){
    .rowlast{
        flex-direction: column;
    }
    .contimg{
        width: 100%;
    }
    .rowlast .box{
        width: 55%;
    }
    .rowlast .box h2{
        font-size: 1.5rem;
    }
    .cont-btn{
        width: 100%;
    }
}