.footer {
  background-color: #0f0f0f;
  margin-top: 2rem;
  min-height: 50vh;
  height: auto;
  color: #fff;
  font-family: "Urbanist", sans-serif;
}
.fbox {
  height: auto;
  margin: 0.5rem 0;
  display: flex;
  gap: 5%;
  justify-content: center;
}
.footer hr {
  width: 90%;
  margin: auto;
}
.aboutus {
  padding: 1rem;
  width: 15%;
}
.branch,
.quicklinks,
.follow {
  width: 20%;
  padding: 1rem;
}
.aboutus h2,
.branch h2,
.quicklinks h2,
.follow h2 {
  margin: 1rem 0;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.5rem;
}

.aboutus p,
.branch p {
  font-weight: 200;
  letter-spacing: 1px;
}
.quicklinks ul {
  list-style-type: none;
}
.quicklinks ul li {
  margin: 0.5rem 0;
}
.quicklinks ul li a {
  padding: 0.2rem;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

.quicklinks ul li a:hover {
  background-color: #92e3a9;
  color: #0f0f0f;
  transition: 0.1s ease;
}
.fa-map-marker-alt {
  color: #92e3a9;
}
#fdiff {
  color: #92e3a9;
}
.follow ul {
  list-style-type: none;
}
.follow ul li {
  margin: 1rem 0;
}
.follow ul li a {
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

#twitter:hover {
  background-color: #00acee;
  transition: 0.2s ease;
  color: #fff;
}
#facebook:hover {
  background-color: #4267b2;
  transition: 0.2s ease;
  color: #fff;
}

#instagram:hover {
  background-image: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  transition: 0.2s ease;
  color: #fff;
}

.copy {
  font-size: 0.6rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
